---
const navTitle = 'Navigation';
---

<span>{navTitle}</span>

<nav class="navbar">
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/contact">Contact Page</a>
    <a href="/products">Products Page</a>
</nav>

<hr />

<style>
    .navbar {
        display: flex;
        justify-content: start;
        column-gap: 10px;
    }
</style>
